/* CSS rule reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary-bg: #f1f1eb;
    --secondary-bg: #e6ff6d;

    --primary-text: #23270d;
    --font-size: 18px;

    --font-heading: "Space Grotesk", sans-serif;
    --font-emphasis: "Lora", sans-serif;
    --font-body: "Inter", sans-serif;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-7: 48px;
    --space-8: 64px;
    --space-9: 96px;

    --bg-lighter-1: #f4f4ef;
    --bg-lighter-2: #f7f7f2;
    --bg-lighter-3: #fafaf6;
    --bg-lighter-4: #fdfdfb;
}
