html{
    color: var(--primary-text, black);
    font-size: var(--font-size, 16px);
}

section {
    height: auto;
    padding: var(--space-8) 0;
}

img {
    aspect-ratio: 1189 / 1149;
    object-fit: cover;
    border-radius: 20px;
}

/* common styling */
.primary-button{
    min-height: 2.5em;
    max-width: 12em;
    width: 100%;
    margin-bottom: 2%;

    font-size: 1.5rem;
    font-weight: 500;

    background-color: var(--secondary-bg);
    border-radius: 20px;
}
.title{
    font-size: 9rem;
    font-weight: 500;
}
.subtitle{
    font-size: 3rem;
    font-weight: 500;
}
.text{
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Usually inherits font-size from .title or .subtitle */
.emphasize {
   font-family: var(--font-emphasis);
   font-style: italic;
}

/* images */
.large-format{
    max-width: 700px;
    min-width: 300px;
    width: 45%;
    aspect-ratio: 1 / 1;
}
.normal-format{
    width: 45%;
    min-width: 200px;
    max-width: 600px;
    aspect-ratio: 1 / 1;
}

/* styling per section */
.hero {
    background-image: url("../public/hero.png");
    background-size: cover;
    background-clip: border;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 90vh;

    & .emphasize {
       margin-top: -50px;
    }
}

.showcase-pictures {
    background-image: linear-gradient(var(--primary-bg), 90%, var(--secondary-bg));
    padding-top: var(--space-9);
    text-align: center;

    & img.large-format {
        margin: 0 var(--space-6);
    }
}

.first-content-split {
    background-image: linear-gradient(to top, var(--primary-bg), 80%, var(--secondary-bg));

    display: flex;
    justify-content: center;
    align-items: flex-end;
    & .text-container{
        width: 45%;
        max-width: 600px;
        margin: 0 var(--space-6);
    }
    & img.normal-format {
        margin: 0 var(--space-6);
    }
}

.second-content-split{
    background-image: linear-gradient(var(--primary-bg) 0px 2px, transparent 4px);
    background-color: var(--bg-lighter-3);

    & .subtitle{
        text-align: center;
    }
    & .emphasize{
        margin-top: -20px;
        margin-bottom: var(--space-7);
    }

    & .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: space-around;
        align-items: flex-start;
        justify-items: center;
        gap: 5px;
    }

    & .icon {
        position: absolute;
        top: 10px;
        left: 10px;

        width: 50px;
        height: 50px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-bg);

    }

    & .grid-item{
        width: 85%;
        position: relative;
    }

    & .grid-image{
        width: 100%;
        aspect-ratio: 564 / 627;
    }

    & p {
        margin-top: 1rem;
    }
}

.third-content-split{
    background-color: var(--bg-lighter-2);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    & .text-container{
        width: 45%;
        max-width: 600px;
        align-self: center;
        margin: 0 var(--space-6);
    }
    & img.normal-format {
        margin: 0 var(--space-6);
    }
}

.fourth-content-split{
    background-image: linear-gradient(var(--primary-bg), 90%, var(--secondary-bg));

    display: flex;
    justify-content: center;
    align-items: flex-end;

    & .content-container{
        width: 45%;
        max-width: 600px;
        margin: 0 var(--space-7);

        font-size: 1.5rem;
    }

    & .grid-container{
        display: grid;
        grid-template-columns: 125px 1fr;
        gap: 20px;

        list-style-type: none;
        margin: var(--space-7) 0;
    }

    & img.normal-format {
        margin: 0 var(--space-6);
    }

    & .time {
        width: 125px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 25%;
        background-color: var(--secondary-bg);
    }
}

.fifth-content-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "text form"
        "footer form";
    justify-items: center;

    position: relative;
    height: 90vh;

    background-image: linear-gradient(to top, var(--secondary-bg), 15%, var(--primary-bg), 90%, var(--secondary-bg));

    & div {
        grid-area: text;
        width: 85%;
    }

    & form {
        grid-area: form;
        width: 70%;

        background-color: var(--secondary-bg);
        border-radius: 30px;

        font-size: 0.9rem;
        & ol {
            list-style-type: none;
            margin-top: var(--space-7);

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-7);

            & li{
                display: flex;
                flex-direction: column;
                width: 80%;
            }

            & input{
                border: 2px black solid;
                border-radius: 10px;
                height: 10ch;
                background-color: transparent;
            }
        }
    }

    & footer {
        width: 85%;
        grid-area: footer;
    }
}

@media (max-width: 900px){

}
@media (max-width: 500px){
    html {
        font-size: 10px;
    }

    section{
        padding: var(--space-4) 0;
    }

    .hero {
        height: 80vh;
    }

    .showcase-pictures img.large-format{
        margin: var(--space-5) 0;
    }
}
